@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700,800,900&subset=latin-ext');

body,html{margin:0;padding:0;
    background: #b2cbd9;
    font-family:'Quicksand';
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.static {
    background: #b2cbd9;
}

.bg1::after {
    background-image: url('pira.jpg');
}

.bg2::after {
    background-image: url('pira.jpg');
}

#black {
    color:#000a0f;
    text-shadow: 0 0 5px #fff;
}

h1{
    font-size: 100px;
}
h2{
    font-size: 50px;
    margin-right: 40px;
}
p{
    font-size: 25px;
}