@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700,800,900&subset=latin-ext');


.content {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background: url('tropicalo.jpg');
    background-size:cover;
    background-position:center center;
    height: 92%;
}

